#root {
    background-color: #c1e4e9;
}

.header{
    display: flex;
    justify-content: space-between;
}

.nondisplay {
    display: none;
}

.addQuestion,
.contents {
    padding: 30px 50px;
    margin: 30px;
    background-color: aliceblue;
}

.body {
    padding: 0px 30px;
}

.choices {
    margin: 20px 0px;
}

.commentary {
    margin: 20px 0px;
}

.contentsHeader {
    padding: 20px 30px;
    margin: 30px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}

button {
    margin: 0px 2px;
}

.addQuestion .questionLabel{
    text-align: right;
    padding-right: 20px;
}

.addQuestion input{
    width: 500px;
}

.addQuestion textarea{
    width: 500px;
    height: 70px;
}

.modal-content{
    width: 960px;
    padding: 20px;
    background-color: #c1e4e9;
}

.controlContents{
    display: flex;
    justify-content: space-between;
}

.controlCOntents_2{
    display: flex;
}

.controlCOntents > *:not(:first-child),
.controlCOntents_2 > *:not(:first-child){
    padding: 0px 50px;
}

.vcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.codebox{
    white-space: pre-wrap;
    word-wrap:break-word;
    background-color: #EEEEEE;
    padding: 15px;
    margin:10px 0px;
    font-size: 13px;
    border:solid 0.5px #888;
}

.commentList{
    padding-left: 20px;
}