#root {
    background-color: #c1e4e9;
}

.header{
    display: flex;
    justify-content: space-between;
}

.nondisplay {
    display: none;
}

.addQuestion,
.contents {
    padding: 30px 50px;
    margin: 30px;
    background-color: aliceblue;
}

.body {
    padding: 0px 30px;
}

.choices {
    margin: 20px 0px;
}

.commentary {
    margin: 20px 0px;
}

.contentsHeader {
    padding: 20px 30px;
    margin: 30px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}

button {
    margin: 0px 2px;
}

.addQuestion .questionLabel{
    text-align: right;
    padding-right: 20px;
}

.addQuestion input{
    width: 500px;
}

.addQuestion textarea{
    width: 500px;
    height: 70px;
}
