#root{
    background-color: #c1e4e9;
}

.nondisplay{
    display: none;
}

.contents{
    padding:20px;
    margin:30px;
    background-color: aliceblue;
}

.contentsList{
    padding:0px 30px;
}

.choices{
    margin: 20px 0px;
}

.commentary{
    margin: 20px 0px;
}